################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/PythonApplication2/discord.py
/GamerPy/__pycache__/test.cpython-37.pyc
/GamerPy/457486096155148289_レモンじゅーす.txt
